annotated-doc
annotated-types
anyio
apparmor
appdirs
application-utility==1.4.0
argcomplete==3.6.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asttokens==3.0.1
async-lru==2.1.0
attrs==25.4.0
autocommand==2.2.2
babel==2.17.0
backoff==2.2.1
beautifulsoup4==4.14.3
bleach==6.3.0
btrfsutil==6.17.1
CacheControl==0.14.4
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
comm==0.2.3
configobj==5.0.9
contourpy==1.3.3
cryptography==46.0.3
cssselect==1.3.0
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.4.0
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
duplicity==3.0.7
einops==0.8.2
eval_type_backport==0.3.1
executing==2.2.1
fasteners==0.20
fastjsonschema==2.21.2
filelock==3.20.3
fonttools==4.61.1
fsspec==2026.1.0
gmpy2==2.2.2
gufw==26.4.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.4.1
idna==3.11
importlib_metadata==8.7.1
ipykernel==7.1.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
json5==0.13.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyterlab==4.5.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kiwisolver==1.4.7
layoutswitcherlib==0.8.39
legacy-cgi==2.6.4
LibAppArmor==4.1.3
libfdt==1.7.2
lockfile==0.12.2
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest_asyncio==1.5.9
netsnmp-python==1.0a1
networkx==3.5
nftables==0.1
notebook==7.5.3
notebook_shim==0.2.4
npyscreen==5.0.2
numpy==2.4.1
nvidia-ml-py==13.590.48
OpenCC==1.1.9
packaging==26.0
pacman_mirrors==5.3
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
patsy==1.0.1
pexpect==4.9.0
pillow==12.1.0
pipx==1.8.0
platformdirs==4.5.1
pooch==1.9.0
posthog==6.9.3
prometheus_client==0.24.1
prompt_toolkit==3.0.52
psutil==7.2.1
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
pybind11==3.0.1
pycairo==1.29.0
pycparser==2.23
pycups==2.0.4
pydantic==2.12.5
pydantic-settings==2.13.0
pydantic_core==2.41.5
Pygments==2.19.2
PyGObject==3.54.5
pyparsing==3.3.2
pyserial==3.5
python-dateutil==2.9.0
python-dotenv==1.2.1
python-json-logger==3.3.0
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
requests==2.32.5
requests-file==2.1.0
rich==14.3.1
rpds-py==0.30.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.15
ruff==0.15.1
scikit-learn==1.7.2
scipy==1.17.0
scour==0.38.2
Send2Trash==1.8.3
setproctitle==1.3.7
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
soupsieve==2.8.3
stack_data==0.6.4.dev0+g53501eb8b.d20251216
statsmodels==0.14.7.dev0+g40e6a84d2.d20251220
sympy==1.14.0
systemd-python==235
tabpfn==6.3.2
tabpfn-common-utils==0.2.16
threadpoolctl==3.5.0
tinycss2==1.5.1
tldextract==5.3.1
torch==2.10.0
tornado==6.5.2
tqdm==4.67.3
traitlets==5.14.3
typer==0.23.1
typer-slim==0.23.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ufw==0.36.2
urllib3==2.6.3
userpath==1.9.2
validate==5.0.9
vici==6.0.4
wcwidth==0.3.5
webencodings==0.5.1
websocket-client==1.9.0
wheel==0.45.1
zipp==3.21.0
zstandard==0.25.0
